<div class="image-with-list" style="color: {{section.settings.text_color}}; background-color:  {{ section.settings.background_color }};">

    <div class="general-section section-med">

        <div class="image-with-list__header image-with-list__header--{{ section.settings.header_align }} sp-mb-8"  style="text-align: {{ section.settings.header_align }}; max-width: {{ section.settings.header_width }}px" >
            {% if section.settings.section_heading != blank %}
            <h2 style="color: {{ section.settings.heading_color }};" class="image-with-list__heading t-big sp-mb-3">
                {{ section.settings.section_heading }}
            </h2>
            {% endif %}
            {% if section.settings.text != blank %}
            <p  class="image-with-list__text t-small">
                {{ section.settings.text }}
            </p>
            {% endif %}
        </div>
        
        <div class="image-with-list__contents">
            <div class="image-with-list__childs">
                {% for block in section.blocks %}
                <div class="image-with-list__child {% if section.settings.center_block_text%} image-with-list__child--center {% endif %}">
                    <div class="image-with-list__child--inner {% if block.settings.image or block.settings.icon_image != 'none' %} image-with-list__child--inner-image {% endif %}">
                      {% if block.settings.image or block.settings.icon_image != 'none'%}
                        <div class="image-with-list__image">
                            {% if section.settings.show_number%}
                            <div class="image-with-list__index">{{ forloop.index }}</div>
                            {% endif %}
                            {% if block.settings.icon_image != 'none' %}
                              <img  src="{{ block.settings.icon_image | asset_url }}">
                            {% elsif block.settings.image %}
                              <img src="{{ block.settings.image | img_url: '600x600', crop: 'center' }}">
                            {% endif %}
                        </div>
                      {% endif %}
                        <div class="">
                            {% if block.settings.title != blank %}
                            <h3 class="image-with-list__title t-medium">{{ block.settings.title}}</h3>
                            {% endif %}
                            {% if block.settings.text != blank %}
                            <div class="image-with-list__text t-small">{{ block.settings.text }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="image-with-list__main-image">
                {% if section.settings.image%}
                <img  class="border-r-medium" src="{{ section.settings.image | img_url: '600x800', crop: 'center' }}">
                {% endif %}
            </div>

        </div>
        <div class="image-with-list__button">
            {% if section.settings.button_link != blank %}
            <a href="{{ section.settings.button_link }}" class="{{section.settings.button_style}}">
                {{ section.settings.button_text }}
            </a>
            {% elsif section.settings.to_location_selector %}
            <button class="{{section.settings.button_style}} popup-trigger-button">{{section.settings.button_text}}</button>
            {% endif %}
        </div>

    </div>

</div>
{% schema %}
  {
    "name": {
      "en": "Image With List"
    },
    "class": "index-section index-section--image-with-list",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Lorem Ipsum"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "header_align",
        "label": "header Text Align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "header_width",
        "label": "Header Max Width",
        "min": 0,
        "max": 1500,
        "default": 1000,
        "step": 20,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "VIEW ALL"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "checkbox",
        "id": "to_location_selector",
        "label": "Make button To Location Trigger",
        "default": false
      },  
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
          {
            "value": "b--primary",
            "label": "Primary"
          },
          {
            "value": "b--secondary",
            "label": "Secondary"
          }
        ],
        "default": "b--primary"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "checkbox",
        "id": "center_block_text",
        "label": "Center Block Texts",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Lorem Ipsum"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "icon_image",
            "label": "Select Icon Image",
            "options": [
              {
                "value": "none",
                "label": "No Icon"
              },
              {
                "value": "icon__chef.svg",
                "label": "Chef"
              },
              {
                "value": "icon__faster.svg",
                "label": "Faster"
              },
              {
                "value": "icon__fresh.svg",
                "label": "Fresh"
              }
              ,
              {
                "value": "icon__no-hassle.svg",
                "label": "No Hassle"
              }
              ,
              {
                "value": "icon__portions.svg",
                "label": "Portions"
              }
              ,
              {
                "value": "icon__subscription--modify.svg",
                "label": "Subscription Modify"
              }
              ,
              {
                "value": "icon__subscription--skip.svg",
                "label": "Subscription Skip"
              }
              ,
              {
                "value": "icon__subscription--swap.svg",
                "label": "Subscription Swap"
              }
              ,
              {
                "value": "icon__value.svg",
                "label": "Value"
              }
            ],
            "default": "none"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Image With List",
      "category": "Agile Layout"
    }
  ]
  }
{% endschema %}
