<div class="text-with-list" style="color: {{section.settings.text_color}}; background-color:  {{ section.settings.background_color }};">
    <div class="text-with-list__inner general-section section-big">

        <div class="text-with-list__header">
            {% if section.settings.heading != blank %}
            <h2 class="text-with-list__heading t-big sp-mb-3">
                {{ section.settings.heading }}
            </h2>
            {% endif %}
            {% if section.settings.text != blank %}
            <p  class="text-with-list__text t-small">
                {{ section.settings.text }}
            </p>
            {% endif %}
        </div>
        
        {% for block in section.blocks %}
        <div class="text-with-list__child">
            <div class="text-with-list__child--inner">
                <div class="text-with-list__image sp-mb-3">
                    {% if block.settings.image%}
                    <img class="border-r-medium" src="{{ block.settings.image | img_url: '640x400', crop: 'center' }}">
                    {% endif %}
                </div>
                <div class="text-with-list__contents">
                    {% if block.settings.title != blank %}
                    <h3 class="text-with-list__title t-medium sp-mb-1">{{ block.settings.title}}</h3>
                    {% endif %}
                    {% if block.settings.text != blank %}
                    <p class="text-with-list__text t-small">{{ block.settings.text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Text With List"
    },
    "class": "index-section index-section--text-with-list",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading",
        "default": "Lorem Ipsum"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Sub Text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Lorem Ipsum"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Text With List",
      "category": "Agile Layout"
    }
  ]
  }
{% endschema %}
